<% content_for(:page_header) do %>
  <%= "Team" %>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    Neues Team erstellen
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
