<% content_for(:page_header) do %>
  <%= "Team" %>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    Team anzeigen
  </div>
  <div class="panel-body">
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>

    <p>
      <strong>Shortcut:</strong>
      <%= @team.shortcut %>
    </p>
  </div>
</div>
