<div class="panel panel-default">
  <div class="panel-heading">
    Herzlich Willkommen
  </div>
  <div class="panel-body">
    <p class="text-muted font-13 m-b-30">
      <%= link_to "Bitte loggen Sie sich zuerst ein.", new_user_session_path %>
    </p>
  </div>
</div>
